<script>
    jQuery(document).ready(function ($) {
        $('#etalage').etalage({
            thumb_image_width: 300,
            thumb_image_height: 400,
            source_image_width: 400,
            source_image_height: 600,
            show_hint: true
        });

    });
</script>
<meta charset="UTF-8">
<div class="container details" ng-controller="CommodityDetailController">
    <div class="row single">
        <div class="col-md-12">
            <div class="single_left" ng-controller="CommodityInfoController">
                <div class="col-md-8">
                    <div style="width: 90%; margin: 0 auto;">
                        <carousel interval="myInterval">
                            <slide ng-repeat="cover in covers" active="cover.active" style="max-height: 500px;">
                                <img ng-src="{{cover.image.uri}}" style="margin:auto; width: 100%; height: 450px;">
                            </slide>
                        </carousel>
                    </div>
                </div>
                <!--<div class="grid images_3_of_2">
                    <ul id="etalage">
                         <li ng-repeat="cover in covers">
                                <img class="etalage_thumb_image img-responsive" src="{{cover.image.uri}}"
                                     class="img-responsive"/>
                                <img class="etalage_source_image img-responsive" src="{{cover.image.uri}}"
                                     class="img-responsive"
                                     title=""/>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>-->
                <div class="col-md-4">
                    <div class="row my-row">
                        <div class="page-header">
                            <h1 class="commodity-title">{{commodity.title}}</h1>
                        </div>
                        <div class="panel panel-default" style="border: 0px;">
                            <!-- Table -->
                            <table class="table">
                                <tr>
                                    <td>价格：</td>
                                    <td>￥&nbsp;{{commodity.price}}</td>
                                </tr>
                                <tr>
                                    <td>运费：</td>
                                    <td>￥&nbsp;{{commodity.carriage}}</td>
                                </tr>
                                <tr>
                                    <td>所在地：</td>
                                    <td>{{commodity.district}}</td>
                                </tr>
                                <tr>
                                    <td>收藏数：</td>
                                    <td>{{commodity.collectionnumber}}</td>
                                </tr>
                                <tr>
                                    <td>发布日期：</td>
                                    <td>{{commodity.releasedate}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="btn_form" ng-show="commodity.activeyn == 'Y'">
                        <a href="#buy/{{commodityId}}">立即购买</a>
                    </div>
                    <h2 ng-show="commodity.activeyn == 'N'" class="unactive_warn" >该商品已下架</h2>
			        <input type="hidden" ng-model="favorite.commodityid"></input>
			        <span class="glyphicon glyphicon-heart heart"></span>&nbsp;<a href="" ng-click="collect()"><span>收藏此商品</span></a>
                </div>
                <div class="clearfix"></div>
            </div>


            <div class="row my-row" style="margin-top: 20px; margin-left: 4%;" ng-controller="CommodityTabController">
                <div class="row my-row">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="commodity-tab-header" ng-class="{active: isDescriptionTab}"
                            ng-click="doDisplayDescription()">
                            <a href="" class="commodity-tab-header-bg">宝贝介绍</a></li>
                        <li role="presentation" class="commodity-tab-header" ng-class="{active: isMessageTab}"
                            ng-click="doDisplayMessage()"><a
                                href="" class="commodity-tab-header-bg">留言</a>
                        </li>
                    </ul>
                </div>
                <div class="row my-row">
                    <div class="tab-content">
                        <div class="tab-pane"
                             ng-class="{active: isDescriptionTab}">
                            <div class="panel panel-default">
                                <div class="panel-body" id="commodityDescPanel"
                                     data-ng-bind-html="commodityDescriptionMarked">
                                </div>
                            </div>
                        </div>
                        <div ng-controller="MessageManagementController" id="message"
                             class="cmt-edit-wrap tab-pane container" style="margin-top: 20px;"
                             ng-class="{active: isMessageTab}">
                            <p>

                            <h3><b>留言</b></h3></p>
                            <div class="cmt-edit-wrap" ng-controller="CreateMessageController">
                                <div class="cmt-edit">
                                    <div class="cmt-edit-top clearfix">
                                        <div class="cmt-user">
                                            <img src="images/message-image.png">
                                        </div>
                                        <div class="cmt-add">
                                            <textarea placeholder="我也插句话..." ng-model="message.content"></textarea>
                                        </div>
                                    </div>
                                    <div class="cmt-edit-btm clearfix">
										<span class="cmt-send-el">
											<em class="cmt-send-textnum" ng-bind="messageleft()"></em><em>/140</em>
											<button class="cmt-send-btn" ng-click="doSubmit()">评论</button>
										</span>
                                    </div>
                                </div>
                            </div>

                            <div class="cmt-list-wrap" ng-controller="ListMessageController">
                                <div class="cmt-list">
                                    <div class="cmt-item clearfix" ng-repeat="message in messageList"
                                         ng-class="{'reply_style': message.isreply}">
                                        <a href="" target="_blank" class="cmt-reply-user">
                                            <img src="images/message-image.png" alt="">
                                        </a>

                                        <div class="cmt-cont-wrap">
                                            <p class="cmt-cont">
                                                <span class="cmt-user-name">{{message.username}}</span>
                                                <span class="cmt-cont-text">{{message.content}} </span>
                                            </p>

                                            <p class="cmt-date">{{message.messagetime}}</p>
                                        <span class="cmt-reply-btn reply_span" ng-hide="message.isreply"
                                              ng-click="replyAction($index, message.replystatus)">回复</span>
                                        </div>
                                        <div id="reply_div" ng-show="message.replystatus"
                                             ng-controller="ReplyMessageController">
                                            <div class="cmt-edit-top clearfix">
                                                <div class="cmt-user">
                                                    <img src="images/message-image.png" alt="">
                                                </div>
                                                <div class="cmt-add">
                                                    <textarea id="messageArea" placeholder="回复..."
                                                              ng-model="reply.content"></textarea>
                                                </div>
                                            </div>
                                            <div class="cmt-edit-btm clearfix">
												<span class="cmt-send-el">
													<em class="cmt-send-textnum"
                                                        ng-bind="replyleft()"></em><em>/100</em>
													<button class="cmt-send-btn" ng-click="saveReply(message.id)">回复
                                                    </button>
												</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row my-row" ng-controller="MessagePaginationMessageController">
                                    <ul class="pagination pagination-sm my-pagination" style="margin-left: 50%; float: right;" ng-show="isShow">
                                        <li ng-class="{paginationdisabled: isFirstPage}" ng-model="previousPageNumber">
                                            <a
                                                    href=""
                                                    ng-class="{paginationdisabled: isFirstPage}"
                                                    ng-click="doJumpPage(previousPageNumber)">&laquo;</a>
                                        </li>
                                        <li ng-class="{active: page.isCurrentPage}" ng-repeat="page in pages"
                                            ng-click="doJumpPage(page.pageNumber)"><a href="">{{page.pageNumber}}</a>
                                        </li>
                                        <li ng-class="{paginationdisabled: isLastPage}" ng-model="NextPageNumber"><a
                                                href=""
                                                ng-class="{paginationdisabled: isLastPage}"
                                                ng-click="doJumpPage(NextPageNumber)">&raquo;</a>
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="clearfix"></div>
</div>
</div>
<!-- details -->			