
 <meta charset="UTF-8">
 <script type="text/javascript">
    $(function(){
        $('.course_nr2 li').hover(function(){
            $(this).find('.shiji').slideDown(600);
        },function(){
            $(this).find('.shiji').slideUp(400);
        });
    });
</script>
            <div class="col-md-10 column hd">
                    <div ng-controller="IndentManagementController">
                        <ul class="nav nav-tabs" style="margin-bottom:3%;">
                          <li role="presentation" class="active"><a href=""><b>我的订单</b></a></li>
                        </ul>
                        <table class="table table-bordered">
                           <thead>
                                <tr>
                                    <th width="30%">宝贝</th>
                                    <th width="10%">单价(元)</th>
                                    <th width="16%">实付款(元)</th>
                                    <th width="12%" >商品操作</th>
                                    <th width="18%">交易状态</th>
                                    <th>交易操作</th>
                                </tr>
                          </thead>
                           <tbody class="none_indent_item" ng-show="indentList.length == 0">
                                <tr>
                                   <td colspan="6"><span style="color: red;"><b>暂无订单信息</b></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table indent_table" ng-repeat="indent in indentList">
                              <thead>
                               <tr>
                                    <td colspan="6">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                        {{indent.indenttime}}&nbsp;  订单号：<a href="">{{indent.indentnumber}}</a>
                                        <!-- TODO:when the indent is success or closed show the trash -->
                                        <!-- <span ng-click="deleteIndent(indent.id)" ng-show="indent.status == '交易完成' || indent.status == '交易取消'"
                                         class="glyphicon glyphicon-trash" style="float: right; margin-right: 3%; cursor: pointer;"></span> -->
                                    </td>
                                </tr>
                                </thead>
                                 <tbody>
                                    <tr>
                                        <td width="30%"><a class="indent_commodity_name" href="#commodityDetail/{{indent.commodity.id}}">{{indent.commodity.title}}</a></td>
                                        <td width="10%">{{indent.commodityprice}}</td>
                                        <td width="16%">
                                            {{indent.indentprice}} <br/>
                                            <span ng-show ="indent.carriage != 0">(含运费：{{indent.commodity.carriage}} )</span>
                                        </td>
                                        <td width="12%">
                                            <span ng-show ="indent.dealoperate == '确认付款'"><a href="" ng-click="cancelIndent(indent.id)">取消订单</a></span>
                                            <span ng-show ="indent.status == '已付款' || indent.status == '已发货'"><a href="" ng-click="returnGoods(indent.id)">退款/退货</a></span>
                                        </td>
                                        <td width="18%">
                                             {{indent.status}} <br/>
                                             <span ng-show="indent.morestatus != null">{{indent.morestatus}}</span> <br/> 
                                            <a href="" ng-click="showIndentModel(indent.id)">订单详情</a>
                                        </td>
                                        <td>
                                            <button ng-show ="indent.dealoperate != null" type="button"  ng-class="{true: 'btn-info', false: 'btn-warning'}[indent.dealoperate == '确认付款']" class="btn" ng-click="updateStatus(indent.dealoperate, indent.id)">{{indent.dealoperate}}</button>
                                            <!-- <span ng-show ="indent.dealoperate == null && indent.status != '交易取消'"><a href="">追加评论</a></span> -->
                                        </td>
                                    </tr>
                                  </tbody>
                          </table>

                    <div class="modal fade" id="DetailIndentModal" tabindex="-1" role="dialog" ng-controller="DetailIndentController">
                    <div class="modal-dialog" style="width: 68%;">
                        <div class="modal-content">
                               <div class="modal-header"><b><h5  style="margin-top:0px; margin-bottom:0px">订单详情</h5></b></div>
                               <div class="modal-body">
                                   <div class="clearfix course_nr">
                                        <tr>
                                             <td><b>订单状态：</b></td>
                                             <td><b>{{viewIndent.status}}</b></td>
                                         </tr>
                                        <ul class="course_nr2">
                                            <li> 拍下商品
                                                <div class="shiji">
                                                    <h5>拍下商品</h5>
                                                    <p ng-show="viewIndent.indenttime != null">{{viewIndent.indenttime}}</p>
                                                    <p ng-show="viewIndent.indenttime == null">暂无更新</p>
                                                </div>
                                            </li>
                                            <li> 成功付款
                                                <div class="shiji">
                                                    <h5>成功付款</h5>
                                                    <p ng-show="viewIndent.paytime != null">{{viewIndent.paytime}}</p>
                                                    <p ng-show="viewIndent.paytime == null">暂无更新</p>
                                                </div>
                                            </li>
                                            <li>   卖家发货
                                                <div class="shiji">
                                                    <h5>卖家发货</h5>
                                                    <p ng-show="viewIndent.delivertime != null">{{viewIndent.delivertime}}</p>
                                                    <p ng-show="viewIndent.delivertime == null">暂无更新</p>
                                                </div>
                                            </li>
                                            <li>确认收货
                                                <div class="shiji">
                                                    <h5> 确认收货</h5>
                                                    <p ng-show="viewIndent.dealcompletetime != null">{{viewIndent.dealcompletetime}}</p>
                                                    <p ng-show="viewIndent.dealcompletetime == null">暂无更新</p>
                                                </div>
                                            </li>
                                            <li>交易完成
                                                <div class="shiji">
                                                    <h5>交易完成</h5>
                                                    <p ng-show="viewIndent.dealcompletetime != null">{{viewIndent.dealcompletetime}}</p>
                                                    <p ng-show="viewIndent.dealcompletetime == null">暂无更新</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div>
                                        <table>
                                           <tbody>
                                                 <tr>
                                                   <td class="td_name">收货地址：</td>
                                                   <td>{{viewIndent.username}}, {{viewIndent.phonenumber}}, {{viewIndent.indentaddress}}</td>
                                                </tr>
                                                 <tr>
                                                   <td class="td_name">买家留言：</td>
                                                   <td>
                                                        <span ng-show="viewIndent.indentmessage != null">{{viewIndent.indentmessage}}</span>
                                                        <span ng-show="viewIndent.indentmessage == null">-</span>
                                                   </td>
                                                </tr>
                                                 <tr>
                                                   <td class="td_name">订单编号：</td>
                                                   <td>{{viewIndent.indentnumber}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                              </div>
                               <div class="modal-footer"></div>
                        </div>
                    </div>
                 </div>

                                <!-- Pagination -->
                                 <div class="row my-row" ng-controller="IndentPaginationManagementController">
                                    <ul class="pagination pagination-sm my-pagination" style="float: right;" ng-show="isShow">
                                        <li ng-class="{paginationdisabled: isFirstPage}" ng-model="previousPageNumber"><a href=""
                                                                                                                          ng-class="{paginationdisabled: isFirstPage}"
                                                                                                                          ng-click="doJumpPage(previousPageNumber)">&laquo;</a>
                                        </li>
                                        <li ng-class="{active: page.isCurrentPage}" ng-repeat="page in pages"
                                            ng-click="doJumpPage(page.pageNumber)"><a href="">{{page.pageNumber}}</a></li>
                                        <li ng-class="{paginationdisabled: isLastPage}" ng-model="NextPageNumber"><a href=""
                                                                                                                     ng-class="{paginationdisabled: isLastPage}"
                                                                                                                     ng-click="doJumpPage(NextPageNumber)">&raquo;</a>
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                    </div>
            </div>
 