
 <meta charset="UTF-8">  
            <div class="col-md-10 column hd">
                    <div ng-controller="OwnerAddressManagementController">
                        <ul class="nav nav-tabs" style="margin-bottom: 3%;">
                          <li role="presentation" class="active"><a href=""><b>收货地址</b></a></li>
                        </ul>

                        <table class="table table-bordered">
                           <thead>
                                <tr>
                                    <th width="15%">收货人</th>
                                    <th width="20%">所在地区</th>
                                    <th width="25%">详细地址</th>
                                    <th width="10%" >邮编</th>
                                    <th width="15%">电话/手机</th>
                                    <th>操作</th>
                                </tr>
                          </thead>
                           <tbody class="none_indent_item" ng-show="addressList.length == 0">
                                <tr>
                                   <td colspan="6"><span style="color: red;"><b>暂无收货地址信息</b></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table indent_table">
                                 <tbody>
                                    <tr ng-repeat="address in addressList">
                                        <td width="15%">{{username}}</td>
                                        <td width="20%">
                                                {{address.addressprovince}}&nbsp;
                                                {{address.addresscity}}&nbsp;
                                                {{address.addressdistrict}}
                                         </td>
                                        <td width="25%">{{address.addressdetail}}</td>
                                        <td width="10%">{{address.postcode}}</td>
                                        <td width="15%">{{address.phonenumber}}</td>
                                        <td>
                                            <a herf="" ng-click="updateAddress(address.id)">修改</a>|
                                            <a href="" ng-click="deleteAddress(address.id)">删除</a>
                                        </td>
                                    </tr>
                                    <tr ng-show="addressList.length < 10">
	                                    <td colspan="3" class="none_right_border" style="border-right: 1px solid #f1f1f1;">
	                                       <button class="btn btn-success btn_right" ng-click="createAddress()">
	                                           <span class="glyphicon glyphicon-plus"></span>
	                                       </button>
	                                    </td>
	                                    <td colspan="3" class="none_right_border" style="border-left: 1px solid #f1f1f1;">
                                            <span class="address_left">还可以添加 {{leftAddress}} 个地址</span>
                                        </td>
	                                    
                                    </tr>
                                  </tbody>
                          </table>

                   <!-- Address Modal -->
                  <div class="modal fade" id="UpdateAddressModal" tabindex="-1" role="dialog" ng-controller="AddressModuleController">
                    <div class="modal-dialog" style="width: 68%;">
                        <div class="modal-content">
                               <div class="modal-header"><h3>修改收货地址</h3></div>
                               <div class="modal-body">
                                    <table class="trade:addressEditor" style="width: 100%;">
                                        <tbody class="address_tbody">
                                            <tr>
                                                <td class="first-col">地址</td>
                                                <td>
                                                    <div class="form-group">  
                                                            <div class="col-md-10 addrss_selected">  
                                                                <select style="width: initial;" required="" class="form-control" ng-model="address.addressprovince" ng-options="key as key for (key,value) in division"  
                                                                        ng-change="address.addresscity='';address.addressdistrict='';">  
                                                                    <option value="">省</option>  
                                                                </select>  
                                                                <select style="width: initial;" class="form-control" ng-model="address.addresscity" ng-options="key as key for (key,value) in division[address.addressprovince]"  
                                                                        ng-change="address.addressdistrict='';">  
                                                                    <option value="">市</option>  
                                                                </select>  
                                                                <select style="width: initial;" class="form-control" ng-model="address.addressdistrict" ng-options="value as value for value in division[address.addressprovince][address.addresscity]">  
                                                                    <option value="">区</option>  
                                                                </select>  
                                                            </div>  
                                                        </div> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="first-col">街道地址:</td>
                                                 <td>
                                                       <textarea ng-model="address.addressdetail" ng-maxlength="120" ng-minlength="5" placeholder="您不必重复省-市-区信息；至少5个字" class="address-txt"></textarea>
                                                       <span class="h">*</span>
                                                 </td>
                                            </tr>
                                            <tr>
                                                <td class="first-col">邮政编码:</td>
                                                 <td>
                                                      <input ng-model="address.postcode" size="20">
                                                 </td>
                                            </tr>
                                             <tr>
                                                <td class="first-col">手机:</td>
                                                 <td>
                                                       <input required ng-model="address.phonenumber" size="20">
                                                       <span class="h">*</span>
                                                 </td>
                                            </tr>
                                            <tr>
                                                 <td colspan="2" align=center>
                                                       <button type="button" class="btn btn-success" ng-click="sureCommit()">保存</button>
                                                 </td>
                                            </tr>
                                          </tbody>
                                       </table>
                                 </div>
                               <div class="modal-footer"></div>
                        </div>
                    </div>
                 </div>

                    </div>
            </div>
 