<meta charset="UTF-8">
<div class="new-order-div" ng-controller="OwnerManagementController" style="margin-top: 70px;">
    <div class="container row clearfix">
         <div class="col-md-2 column" ng-controller="OwnerSelectOptionController">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user" style="margin: 3%; float: left; color: rgb(240, 155, 23);"> </span>
                    <h3 class="panel-title">个人中心</h3>
                </div>
                <div class="panel-body text-center">
                    <div class="owner-info">
                         <ul class="sidebar-list">
                            <li>
                                <h5><b><span class="glyphicon glyphicon-asterisk"></span>&nbsp;账户管理</b></h5>
                                <ul class="sub-menu">
                                    <li><a href="" ng-click="toShowOwnerSafeRequest()"><span>安全设置</span></a></li>
	                                <li><a href="" ng-click="toShowOwnerInfoRequest()"><span>我的资料</span></a></li>
	                                <li><a href="" ng-click="toShowOwnerPictureLibraryRequest()"><span>图片库</span></a></li>
	                                <li><a href="" ng-click="toShowOwnerAddressRequest()"><span>收货地址</span></a></li>
	                                <li><a href="" ng-click="toShowOwnerBillRequest()"><span>我的账单</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <h5><b><span class="glyphicon glyphicon-th"></span>&nbsp;订单管理</b></h5>
                                <ul class="sub-menu">
                                    <li><a href="" ng-click="toShowIndentListRequest()"><span>我的订单</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <h5><b><span class="glyphicon glyphicon-th"></span>&nbsp;闲置管理</b></h5>
                                <ul class="sub-menu">
                                    <li><a href="" ng-click="toShowOwnerIgtsRequest()"><span>我的发布</span></a></li>
                                    <li><a href="" ng-click="toShowDeliverCommodityListRequest()"><span>待发货商品</span></a></li>
                                </ul>
                            </li>
                            <li>
                               <h5><b><span class="glyphicon glyphicon-heart heart"></span>&nbsp;收藏管理</b></h5>
                                <ul class="sub-menu">
                                    <li><a href="" ng-click="toShowOwnerCommodityRequest()"><span>收藏的商品</span></a></li>
                                </ul>
                            </li>
                            <li>
                             <h5>
                                <b style="cursor: pointer;">
                                    <a href="" ng-click="contactRequest()" ><span class="glyphicon glyphicon-earphone"></span>&nbsp;联系我们</a></b>
                             </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="pagename"></div>

   </div>
</div>    