
 <meta charset="UTF-8">  
            <div class="column hd">
                    <div id="owner_deal" ng-controller="ToDeliverCommodityManagementController">
                        <h3>待发货商品</h3>
                        <table class="table table-bordered">
                           <thead>
                                <tr>
                                    <th width="30%">宝贝</th>
                                    <th width="10%">单价(元)</th>
                                    <th width="16%">实付款(元)</th>
                                    <th width="18%">交易状态</th>
                                    <th>操作</th>
                                </tr>
                          </thead>
                           <tbody class="none_indent_item" ng-show="indentList.length == 0">
                                <tr>
                                   <td colspan="6"><span style="color: red;"><b>暂无需要发货的商品</b></span></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table indent_table" ng-repeat="indent in deliverCommodityList">
                              <thead>
                               <tr>
                                    <td colspan="6">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                        {{indent.indenttime}}&nbsp;  订单号：<a href="">{{indent.indentnumber}}</a>
                                        <!-- TODO:when the indent is success or closed show the trash -->
                                        <span ng-click="deleteIndent(indent.id)" ng-show="indent.status == '交易完成' || indent.status == '交易取消'"
                                         class="glyphicon glyphicon-trash" style="float: right; margin-right: 3%; cursor: pointer;"></span>
                                    </td>
                                </tr>
                                </thead>
                                 <tbody>
                                    <tr>
                                        <td width="30%"><a class="indent_commodity_name" href="#commodityDetail/{{indent.commodity.id}}">{{indent.commodity.title}}</a></td>
                                        <td width="10%">{{indent.commodityprice}}</td>
                                        <td width="16%">
                                            {{indent.indentprice}} <br/>
                                            <span ng-show ="indent.carriage != 0">(含运费：{{indent.commodity.carriage}} )</span>
                                        </td>
                                        <td width="18%">
                                             {{indent.status}} <br/>
                                             <span ng-show="indent.morestatus != null">{{indent.morestatus}}</span> <br/> 
                                            <a href="">订单详情</a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info" ng-click="updateStatus(indent.dealoperate, indent.id)">发货</button>
                                        </td>
                                    </tr>
                                  </tbody>
                          </table>
                                <!-- Pagination -->
                                 <div class="row my-row" ng-controller="DeliverCommodityPaginationMessageController">
                                    <ul class="pagination pagination-sm my-pagination" style="float: right;" ng-show="isShow">
                                        <li ng-class="{paginationdisabled: isFirstPage}" ng-model="previousPageNumber"><a href=""
                                                                                                                          ng-class="{paginationdisabled: isFirstPage}"
                                                                                                                          ng-click="doJumpPage(previousPageNumber)">&laquo;</a>
                                        </li>
                                        <li ng-class="{active: page.isCurrentPage}" ng-repeat="page in pages"
                                            ng-click="doJumpPage(page.pageNumber)"><a href="">{{page.pageNumber}}</a></li>
                                        <li ng-class="{paginationdisabled: isLastPage}" ng-model="NextPageNumber"><a href=""
                                                                                                                     ng-class="{paginationdisabled: isLastPage}"
                                                                                                                     ng-click="doJumpPage(NextPageNumber)">&raquo;</a>
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                    </div>
            </div>
 