 <meta charset="UTF-8">  
<div ng-controller="testMainController">
    <div style="background-color: red" class="col-md-2" ng-controller="testSelectController">
        <ul>
            <li><a href="" ng-click="showModule1()">模块1</a></li>
            <li><a href="" ng-click="showModule2()">模块2</a></li>
            <li><a href="" ng-click="showModule3()">模块3</a></li>
            <li><a href="" ng-click="showModule4()">模块4</a></li>
        </ul>
    </div>
    <div style="background-color: black;" class="col-md-10" ng-controller="testShowController">
       <div ng-include="pagename"></div>
    </div>
</div>
 