<!DOCTYPE html>
<html ng-app="RootApp">
<head>
    <meta charset="UTF-8">
    <title>闲置物品交易系统</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-submenu.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/etalage.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/ui-dialog.css" rel="stylesheet">
    <link href="css/uploader.css" rel="stylesheet">
    <link href="css/bootstrap-markdown.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body ng-controller="rootController">

<div class="header container">
    <div class="header_top">
        <div class="top_right col-md-12" ng-controller="headerController">
            <span ng-show="user.username" class="login_user">欢迎您, <a href="">{{user.username}}</a></span>
            <ul ng-show="!user.username">
                <li><a href="">注册</a></li>
                |
                <li class="login">
                    <div id="loginContainer"><span id="loginButton" ng-click="tologin()">登录</span></div>
                </li>
                |
                <li><a href="">联系我们</a></li>
            </ul>
            <ul ng-show="user.username">
                <li><a href="#ownerinfo/{{user.id}}">个人中心</a></li>
                |
                <li><a href="">我的收藏(0)</a></li>
                |
                <li><a href="" ng-click="doLogout()">退出</a></li>
                |
                <li><a href="">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="header_top" ng-controller="CommoditySearchController">
        <div class="logo col-md-4">
            <a href="#/"><img src="images/1.png" alt=""/></a>
        </div>
        <div class="search-box col-md-5" style="margin-top: 17px;">
            <div class="input-group">
                <input type="text" aria-describedby="basic-addon2" class="search-form-input" ng-model="searchContent"
                       placeholder="请输入搜索关键字">
				  <span class="input-group-addon search-form-span"
                        style="cursor: pointer;border-radius:0px 10px 10px 0px;" ng-click="doSearch()">搜索
				  </span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid" ng-controller="TagListController">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" style="margin: 0px 0px 0px 100px;">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">所有商品分类
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu" ng-repeat="tag in tags">
                            <a href="#">{{tag.name}}</a>
                            <ul class="dropdown-menu" ng-repeat="subtag in tag.tags">
                                <li><a href="#">{{subtag.name}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#/main">首页</a></li>
            </ul>
            <button type="button" class="btn btn-warning btn-lg addCommdity" ng-click="doPublish()">发布闲置</button>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-md-12">
        <div ng-view></div>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <p>Copyright &copy; 2015.Company name All rights reserved.<a href="">联系我们</a></p>
    </div>
</div>
<!-- footer -->
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="js/angular.js" type="text/javascript"></script>
<script src="js/angular-cookies.js" type="text/javascript"></script>
<script src="js/angular-route.js" type="text/javascript"></script>
<script src="js/bootstrap.js"></script>
<script src="js/menu_jquery.js" type="text/javascript"></script>
<script src="js/jquery.fileupload.js"></script>
<script src="js/demo-preview.js"></script>
<script src="js/dmuploader.js"></script>
<script src="js/jquery.flexisel.js"></script>
<script src="js/responsiveslides.min.js"></script>
<!-- 商品分类 下拉 -->
<script src="js/jquery.etalage.min.js" type="text/javascript"></script>
<script src="js/dialog.js" type="text/javascript"></script>
<script src="js/marked.js"></script>
<script src="js/to-markdown.js"></script>
<script src="js/markdown.js"></script>
<script src="js/bootstrap-markdown.js"></script>
<script src="js/ui-bootstrap-tpls-0.13.0.js" type="text/javascript"></script>
<script src="js/services.js" type="text/javascript"></script>
<script src="controllers/index-controller.js"></script>
<script src="controllers/tag-controller.js"></script>
<script src="controllers/commodity-controller.js"></script>
<script src="controllers/message-controller.js"></script>
<script src="controllers/commodity-detail-controller.js"></script>
<script src="controllers/buy-controller.js"></script>
<script src="controllers/address-controller.js"></script>
<script src="controllers/owner-controller.js"></script>
<!-- etalage 图片放大 -->
<script type="application/x-javascript">
    $('.dropdown-submenu > a').submenupicker();
</script>
</body>
</html>