<!DOCTYPE html>
<html ng-app="RootApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>闲置物品交易系统</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-submenu.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/etalage.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/ui-dialog.css" rel="stylesheet">
    <link href="css/uploader.css" rel="stylesheet">
    <link href="css/bootstrap-markdown.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body ng-controller="rootController">
<div class="header container">
    <div class="header_top">
        <div class="top_right col-md-12" ng-controller="headerController">
            <span ng-show="user.username" class="login_user">欢迎您, <a href="">{{user.username}}</a></span>
            <ul ng-show="!user.username">
                <li><a href="">注册</a></li>
                |
                <li class="login">
                    <div id="loginContainer"><span id="loginButton" ng-click="tologin()">登录</span></div>
                </li>
                |
                <li><a href="">联系我们</a></li>
            </ul>
            <ul ng-show="user.username">
                <li><a href="">个人中心</a></li>
                |
                <li><a href="">我的收藏(0)</a></li>
                |
                <li><a href="" ng-click="doLogout()">退出</a></li>
            </ul>
        </div>
    </div>
    <div class="header_top">
        <div class="logo col-md-4">
            <a href="index.html"><img src="images/1.png" alt=""/></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <div class="row my-row" ng-controller="publishController">

            <div class="row my-row">
                <div class="col-sm-2">
                    <button class="btn btn-primary" ngf-select ngf-multiple="true" ng-model="files"
                            ngf-change="upload($files)">上传图片到我的相册
                    </button>
                </div>

                <div class="col-sm-4">
                    <progressbar class="progress-striped" value="progressPercent" type="warning">{{progressPercent}}%
                    </progressbar>
                </div>
                <div class="col-sm-1">
                    <span class="label label-{{uploadStatusStyle}}">{{uploadStatus}}</span>
                </div>
            </div>

            <div class="row my-row image-preview-sm"style="margin-top: 20px;">
                <div style="width: auto; display: inline-flex;">
                    <img ngf-src="file" ngf-default-src="images/default-pic.png" class="small-picture"
                         ng-repeat="file in files">
                </div>
            </div>

            <div class="row my-row" style="margin-top: 20px;">
                <form class="bs-example bs-example-form" role="form">
                    <div class="input-group">
                        <span class="input-group-addon">商品标题：</span>
                        <input type="text" class="form-control" placeholder="请输入商品标题" ng-model="commodity.title">
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">商品价格：</span>
                        <input type="text" class="form-control" placeholder="请收入价格(单位元)" ng-model="commodity.price">
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">地区：</span>
                        <input type="text" class="form-control" placeholder="请输入商品所在地" ng-model="commodity.district">
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon">运费：</span>
                        <input type="text" class="form-control" placeholder="请输入运费" ng-model="commodity.carriage">
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="desc-font">商品描述：</span>

                        <div class="row my-row" style="margin-top: 20px;">
                            <textarea name="content" id="markDownTextArea" data-provide="markdown" rows="10"
                                      ng-model="commodity.description"></textarea>
                        </div>
                        <hr/>
                    </div>
                    <br>
                </form>
                <button type="button" class="btn btn-primary" id="btnSubmitStudent" ng-click="doSubmit()">提交</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="createCoverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true"
             ng-controller="CreateCoverModalController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">选择商品封面</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6" style="margin: 0 auto;">
                                <span class="label label-default">已选封面（第一张为主封面）</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"
                                 style="overflow-y: auto; overflow-x: hidden; height:500px; margin-top: 10px;">
                                <table class="table">
                                    <tr ng-repeat="image in images">
                                        <td>
                                            <img class="media-object small-picture-cover-select" style="cursor: pointer"
                                                 src="{{image.uri}}"
                                                 alt="{{image.title}}" ng-click="doSelectCover(image)">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6" style="overflow-y: auto; overflow-x: hidden; height:500px; margin-top: 10px;">
                                <table class="table">
                                    <tr ng-repeat="selectedImage in selectedImages">
                                        <td>
                                            <img class="media-object small-picture-cover-select" style="cursor: pointer"
                                                 src="{{selectedImage.uri}}"
                                                 alt="{{selectedImage.title}}" ng-click="doDeSelectCover(selectedImage)">
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="row">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" ng-click="doSubmit(selectedImages)">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer">
    <div class="container">
        <p>Copyright &copy; 2015.Company name All rights reserved.<a href="">联系我们</a></p>
    </div>
</div>


<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="js/angular.js" type="text/javascript"></script>
<script src="js/angular-cookies.js" type="text/javascript"></script>
<script src="js/angular-route.js" type="text/javascript"></script>
<script src="js/angular-sanitize.js" type="text/javascript"></script>
<script src="js/ng-file-upload-shim.js"></script>
<script src="js/ng-file-upload.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap-markdown.js"></script>
<script src="js/jquery.fileupload.js"></script>
<script src="js/demo-preview.js"></script>
<script src="js/dmuploader.js"></script>
<script src="js/dialog.js" type="text/javascript"></script>
<script src="js/marked.js"></script>
<script src="js/to-markdown.js"></script>
<script src="js/markdown.js"></script>
<script src="js/my-upload.js"></script>
<script src="js/ui-bootstrap-tpls-0.13.0.js" type="text/javascript"></script>
<script src="js/publish-services.js" type="text/javascript"></script>
<script src="controllers/publish-controller.js"></script>
</body>
</html>