<!DOCTYPE html>  
<html lang="zh-CN" ng-app="App">  
<head>  
    <meta charset="UTF-8">  
    <title>前端研究</title>  
</head>  
<body ng-controller="AddAddressController">

<button class="test" ng-click="showdiv()">点击</button>

      <div class="modal fade" id="AddAddressModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                       <div class="modal-header">  添加新地址 </div>
                       <div class="modal-body">
                                        <div class="form-horizontal">  
                                            <div class="form-group">  
                                                <label class="col-md-2 control-label"> 地址  </label>  
                                                <div class="col-md-10">  
                                                    <select required="" class="form-control" ng-model="address.province" ng-options="key as key for (key,value) in division"  
                                                            ng-change="address.city='';address.district='';">  
                                                        <option value="">省</option>  
                                                    </select>  
                                                    <select class="form-control" ng-model="address.city" ng-options="key as key for (key,value) in division[address.province]"  
                                                            ng-change="address.district='';">  
                                                        <option value="">市</option>  
                                                    </select>  
                                                    <select class="form-control" ng-model="address.district" ng-options="value as value for value in division[address.province][address.city]">  
                                                        <option value="">区</option>  
                                                    </select>  
                                                </div>  
                                            </div>  
                                            <div class="form-group">  
                                                <div class="col-md-offset-2 col-md-10">  
                                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="submit()"> 提交  </button>  
                                                </div>  
                                            </div>  
                                        </div> 
                       </div>
                       <div class="modal-footer">
                       </div>
                </div>
            </div>
         </div> 


     <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-submenu.css" rel="stylesheet">
    <script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jquery.ui.widget.js" type="text/javascript"></script>
<script src="js/angular.js" type="text/javascript"></script>
<script src="js/angular-cookies.js" type="text/javascript"></script>
<script src="js/angular-route.js" type="text/javascript"></script>
<script src="js/bootstrap.js"></script>
    <script src="js/controllers.js">
</body>  
</html>  